{
  "arrowParens": "always",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "tailwindAttributes": [
    "class",
    "className",
    "containerClass",
    "bodyClass",
    "footerClass",
    "fallbackClass"
  ],
  "tailwindStylesheet": "./src/styles/global.css"
}
