@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-neutral-500 dark:focus-visible:ring-neutral-400;
  }
}

html {
  overflow-y: overlay;
}

.pressable {
  @apply cursor-pointer will-change-transform active:scale-95;
}

.tech-transition {
  transition: opacity 150ms linear, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-transition {
  transition: color 75ms linear;
}

.color-bg-transition {
  transition: color 75ms linear, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.unblur {
  animation: unblur 200ms ease;
}

.img-wrapper > span {
  height: 100% !important;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}

.inline-link {
  @apply relative font-medium;
}

.inline-link::after {
  @apply absolute bottom-0 left-0 w-full font-semibold rounded-full;
  background: currentColor;
  content: '';
  transform: scaleX(1);
  height: 1px;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.inline-link.primary::after {
  @apply h-0.5 bg-gradient-to-r from-accent-600 to-accent-300 dark:from-accent-700 dark:to-accent-400;
}

.inline-link:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

/* Underline From Center
 * From: https://github.com/IanLunn/Hover
 */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  @apply content-[''] rounded-md bg-neutral-600 dark:bg-neutral-200 mx-3;
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 1px;
  height: 3px;
  transition: left 0.3s ease-out, right 0.3s ease-out, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hvr-underline-from-center-active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}