@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@source '../components';

:root {
  color-scheme: dark;
}

@theme {
  --font-sans: 'Inter Variable';
  --breakpoint-xs: 24rem; /* Used to be 375px; */
}

@theme inline {
  --color-accent-50: var(--color-orange-50);
  --color-accent-100: var(--color-orange-100);
  --color-accent-200: var(--color-orange-200);
  --color-accent-300: var(--color-orange-300);
  --color-accent-400: var(--color-orange-400);
  --color-accent-500: var(--color-orange-500);
  --color-accent-600: var(--color-orange-600);
  --color-accent-700: var(--color-orange-700);
  --color-accent-800: var(--color-orange-800);
  --color-accent-900: var(--color-orange-900);
  --color-accent-950: var(--color-orange-950);
}

:where(:focus-visible) {
  @apply outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-500 dark:focus-visible:ring-neutral-400;
}

@keyframes scaleUp {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social-buttons a {
  @apply inline-block rounded-sm bg-neutral-600 px-2.5 py-1.5 text-neutral-200 transition duration-200 hover:bg-neutral-700 hover:text-neutral-50 active:translate-y-0.5 active:bg-neutral-800 active:text-neutral-50 active:shadow-sm dark:bg-neutral-700 dark:text-neutral-200 dark:hover:bg-neutral-600 dark:hover:text-neutral-50 dark:active:bg-neutral-500;
}

.social-buttons svg {
  @apply fill-current;
  height: 1.75rem;
  width: 1.75rem;
}

@keyframes unblur {
  from {
    filter: blur(24px);
  }
  to {
    filter: blur(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .unblur {
    animation: unblur 0.3s ease;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    animation: fade-in 0.5s ease;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in-slow {
    animation: fade-in 0.75s ease-in-out;
  }
}

.tech-transition {
  transition:
    opacity 150ms linear,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 320px) {
  figure.saturn {
    padding-bottom: 1.5rem;
  }

  figure.saturn figcaption {
    position: initial !important;
  }
}

.underline-fade-in::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 9999px;
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}

.underline-fade-in:hover::after,
.underline-fade-in:focus-visible::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
