@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    @apply rounded outline-none focus-visible:ring-2 focus-visible:ring-neutral-500 dark:focus-visible:ring-neutral-400;
  }
}

html {
  overflow-y: overlay;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(15px);
}

html.dark .frosted-glass {
  background-color: rgba(10, 10, 10, 0.85);
  backdrop-filter: blur(15px);
}

.fade-in {
  animation: fadein ease 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social-buttons a {
  @apply mr-3 inline-block rounded bg-neutral-600 px-2.5 py-1.5 text-neutral-200 transition duration-200 hover:bg-neutral-700 hover:text-neutral-50 active:translate-y-0.5 active:bg-neutral-800 active:text-neutral-50 active:shadow dark:bg-neutral-700 dark:text-neutral-200 dark:hover:bg-neutral-600 dark:hover:text-neutral-50 dark:active:bg-neutral-500;
}
.social-buttons svg {
  @apply fill-current;
  height: 1.75rem;
  width: 1.75rem;
}

.pressable {
  @apply cursor-pointer active:scale-95 active:will-change-transform;
}

.tech-transition {
  transition: opacity 150ms linear,
    border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-transition {
  transition: color 75ms linear;
}

.color-bg-transition {
  transition: color 75ms linear,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.unblur {
  animation: unblur 300ms ease;
}

.img-wrapper > span {
  height: 100% !important;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}

.inline-link {
  @apply relative font-medium;
}

.inline-link::after {
  @apply absolute bottom-0 left-0 w-full rounded-full font-semibold;
  background: currentColor;
  content: '';
  transform: scaleX(1);
  height: 1px;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.inline-link.primary::after {
  @apply h-0.5 bg-gradient-to-r from-accent-600 to-accent-300 dark:from-accent-700 dark:to-accent-400;
}

.inline-link:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

/* Underline From Center
 * From: https://github.com/IanLunn/Hover
 */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  @apply mx-1 rounded-md bg-neutral-600 content-[''] dark:bg-neutral-200 sm:mx-3;
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 4px;
  height: 2px;
  transition: left 0.3s ease-out, right 0.3s ease-out,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hvr-underline-from-center-active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
