---
import '../index.css'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Saturn from '../components/Saturn'
import AboutMe from '../components/AboutMe.astro'
import ProjectPreview from '../components/ProjectPreview.astro'
import TechStack from '../components/TechStack.astro'

const allProjects = await getCollection('projects').then((projects) =>
  projects
    .filter((project) => import.meta.env.DEV || project.data.draft !== true)
    .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
)
---

<Layout title="Kirill Tregubov">
  <main class="mx-auto max-w-[90rem]">
    <section
      class="mb-8 flex flex-col justify-center md:mb-12 lg:flex-row lg:items-center lg:gap-6 xl:gap-0 2xl:-mt-6"
    >
      <AboutMe class="animate-[fadeUp_0.3s_forwards]" />
      <!-- border-2 border-red-500 -->
      <figure
        class="relative box-content h-[calc(100vw-3rem)] max-h-[300px] w-full lg:max-h-[300px] lg:min-w-[400px] xl:max-h-[400px] xl:min-w-[600px] 2xl:min-w-[700px]"
        title="My favourite planet, Saturn."
      >
        <Saturn client:only="react" />
        <figcaption
          class="absolute bottom-0 w-full bg-neutral-900 pb-2 text-center text-sm font-medium text-neutral-400/80 xl:pb-4 2xl:pb-6"
          title=""
        >
          My favourite planet, Saturn. <a
            class="underline"
            href="https://science.nasa.gov/resource/saturn-3d-model/"
            target="_blank"
            rel="noopener">Source</a
          >
        </figcaption>
      </figure>
    </section>
    <section id="tech-stack" class="mb-8 md:mb-12 2xl:pr-2">
      <h2 class="text-xl font-semibold leading-none">Tech Stack</h2>
      <p class="mb-3 mt-2 text-neutral-400">
        Technologies and programming languages that I enjoy using, and have
        worked with in the past.
      </p>
      <TechStack />
    </section>
    <section id="projects">
      <h2 class="text-xl font-semibold leading-none">Featured Projects</h2>
      <p class="mb-3 mt-2 text-neutral-400">
        Projects that I created and have contributed to.
      </p>
      <ul class="grid grid-cols-1 gap-8 gap-x-10 lg:grid-cols-2 xl:grid-cols-3">
        {
          allProjects.map((project) => (
            <li>
              <ProjectPreview project={project} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
