---
import { Image } from 'astro:assets'
import MDLink from './MDLink.astro'

export interface Props {
  showTitle?: boolean
  repository: string
  download: string
}

const { repository, download, showTitle = false } = Astro.props
---

<div class="flex flex-col justify-center gap-6">
  {
    showTitle && (
      <div class="flex items-center justify-start gap-3">
        <Image
          class="fade-in select-none"
          src={`/assets/projects/overbuddy/icon.png`}
          alt="OverBuddy icon"
          width={48}
          height={48}
          loading="eager"
          draggable="false"
        />
        <h1 class="text-2xl leading-none font-bold">OverBuddy</h1>
      </div>
    )
  }
  <ul class="flex flex-col gap-3 text-neutral-400">
    <li>
      <h3 class="text-lg font-medium text-white">
        Personalize your Overwatch™ Experience
      </h3>
      <p class="">
        OverBuddy allows you to customize your Overwatch in-game main menu
        background. Browse all available backgrounds and apply your favourite.
      </p>
    </li>
    <li>
      <h3 class="text-lg font-medium text-white">Free and Transparent</h3>
      <p class="">
        OverBuddy is free to use and{' '}
        <MDLink
          href={repository}
          className="!text-neutral-300 hover:!text-white focus-visible:!text-white active:!text-white"
          >open source</MDLink
        >. It operates independently and is not affiliated with Blizzard
        Entertainment® or Valve®. You can undo the changes it makes at any
        time by reverting to the default background.
      </p>
    </li>
    <li>
      <h3 class="text-lg font-medium text-white">Built with Privacy in Mind</h3>
      <p class="">
        To change the menu background, OverBuddy will need to read and write
        your Battle.net® and/or Steam® configuration files. It will
        <span class="font-semibold">NOT</span> modify any game files and does
        <span class="font-semibold">NOT</span> collect your personal data. Your game
        client(s) will be automatically restarted to apply the changes.
      </p>
    </li>
    <li>
      <h3 class="text-lg font-medium text-white">Frequently Updated</h3>
      <p class="">
        Major Overwatch patches tend to change the availability of backgrounds,
        including adding new backgrounds and removing some existing ones. The
        app has a secure built-in updater, and updates can be manually checked
        in the settings.
      </p>
    </li>
  </ul>
  <div class="flex flex-wrap gap-3">
    <a
      class="inline-flex h-14 items-center justify-center rounded-[0.2rem] border-2 border-orange-800/40 bg-orange-500 px-10 text-center text-lg font-semibold tracking-wide text-orange-50 uppercase shadow-md !ring-white transition-[border-color,transform,border-radius,box-shadow] will-change-transform select-none hover:scale-105 hover:rounded-[0.25rem] hover:border-orange-50 focus-visible:scale-105 focus-visible:border-white focus-visible:!ring-1 focus-visible:outline-hidden active:scale-95 max-[480px]:w-full"
      href={download}
    >
      Get the App
    </a>
    <a
      class="inline-flex h-14 items-center justify-center rounded-[0.2rem] border-2 border-neutral-800/40 bg-neutral-700 px-6 text-center text-lg font-semibold tracking-wide text-neutral-50 uppercase shadow-md !ring-white transition-[border-color,transform,border-radius,box-shadow] will-change-transform select-none hover:scale-105 hover:rounded-sm hover:border-neutral-50 focus-visible:scale-105 focus-visible:border-white focus-visible:!ring-1 focus-visible:outline-hidden active:scale-95 max-[480px]:w-full"
      href={repository}
      target="_blank"
      rel="noopener"
    >
      View on GitHub
    </a>
    <!-- <div class="flex items-center">
        <a
          class:list={[
            'underline-fade-in relative select-none text-center text-lg font-medium uppercase tracking-wide transition-[color,transform] will-change-transform after:bg-zinc-300 hover:text-zinc-300 focus-visible:text-zinc-300 focus-visible:outline-hidden active:scale-95 disabled:pointer-events-none'
          ]}
          href={projectInfo.data.download!}
          target="_blank"
          rel="noopener"
        >
          Read the Latest Release
        </a>
      </div> -->
  </div>
</div>
<div class="flex w-full items-center">
  <Image
    class="fade-in rounded-sm select-none"
    src="/assets/projects/overbuddy/screenshot-2.png?v=1"
    alt="Screenshot of the OverBuddy app"
    width={684}
    height={533}
    loading="eager"
    draggable="false"
  />
</div>
