---
interface Props {
  href: string
  external?: boolean
}

const { href, external } = Astro.props
---

<a
  href={href}
  target={external ? '_blank' : undefined}
  rel={external ? 'noopener' : undefined}
  class="flex items-center !rounded-lg border-2 border-neutral-500 px-2 py-1.5 leading-none text-neutral-700 !ring-neutral-500 transition hover:border-neutral-700 hover:text-neutral-900 dark:border-neutral-500 dark:text-neutral-300 dark:hover:border-neutral-100 dark:hover:text-neutral-50 dark:hover:!ring-neutral-100 dark:active:border-neutral-100 dark:active:text-neutral-50 dark:active:!ring-neutral-100"
>
  <slot />
</a>
