---
import { HomeIcon } from 'lucide-react'

interface Props {
  containerClass?: string
}

const { containerClass, ...props } = Astro.props
---

<menu
  class:list={[
    "sticky -top-12 z-10 -my-4 -mt-16 mb-2 flex gap-6 bg-neutral-900 pb-2 pt-16 after:pointer-events-none after:absolute after:-bottom-2 after:left-0 after:z-10 after:h-2 after:w-full after:bg-gradient-to-b after:from-neutral-900 after:to-transparent after:content-[''] motion-safe:animate-[fadeUp_0.3s_forwards] motion-safe:opacity-0",
    containerClass
  ]}
  transition:name="menu"
  {...props}
>
  <a
    href="/"
    class="-ml-1 inline-flex w-auto flex-grow-0 select-none items-center gap-1 rounded px-1 font-medium transition-[color,box-shadow] hover:text-neutral-400 focus-visible:text-neutral-400 active:text-neutral-400"
  >
    <HomeIcon className="mr-1.5 size-5" aria-hidden="true" />
    <span>Home</span>
  </a>
  <slot />
</menu>
