---
import { HomeIcon } from 'lucide-react'

interface Props {
  containerClass?: string
}

const { containerClass, ...props } = Astro.props
---

<menu
  class:list={[
    "sticky -top-1 z-10 -mx-1 -mt-5 mb-4 flex gap-6 bg-neutral-900 px-1 pt-5 pb-2 after:pointer-events-none after:absolute after:-bottom-2 after:left-0 after:z-10 after:h-2 after:w-full after:bg-gradient-to-b after:from-neutral-900 after:to-transparent after:content-[''] motion-safe:animate-[fadeUp_0.6s_forwards] motion-safe:opacity-0 max-xs:flex-col xs:-mt-7 xs:justify-between xs:pt-7 md:-mt-13",
    containerClass
  ]}
  {...props}
>
  <a
    href="/"
    class="-ml-1 inline-flex w-auto grow-0 items-center gap-1 rounded-sm px-1 font-medium transition select-none hover:text-neutral-400 focus-visible:text-neutral-400 active:text-neutral-400"
  >
    <HomeIcon className="mr-1.5 size-5" aria-hidden="true" />
    <span>Home</span>
  </a>
  <slot />
</menu>
