:focus-visible {
  @apply rounded outline-none focus-visible:ring-2 focus-visible:ring-neutral-500 dark:focus-visible:ring-neutral-400;
}

@keyframes scaleUp {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inline-link {
  @apply relative -m-0.5 rounded p-0.5 font-medium transition-shadow;
}

.inline-link::after {
  @apply absolute bottom-0 left-0.5 right-0.5 rounded-full bg-current font-semibold will-change-transform content-[''];
  width: calc(100% - 0.25rem);
  transform: scaleX(1);
  height: 1px;
  transform-origin: bottom left;
  transition: transform 0.5s ease-in-out;
}

.inline-link.primary::after {
  @apply h-0.5 bg-gradient-to-r from-accent-600 to-accent-300 dark:from-accent-700 dark:to-accent-400;
}

.inline-link:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.social-buttons a {
  @apply inline-block rounded bg-neutral-600 px-2.5 py-1.5 text-neutral-200 transition duration-200 hover:bg-neutral-700 hover:text-neutral-50 active:translate-y-0.5 active:bg-neutral-800 active:text-neutral-50 active:shadow dark:bg-neutral-700 dark:text-neutral-200 dark:hover:bg-neutral-600 dark:hover:text-neutral-50 dark:active:bg-neutral-500;
}

.social-buttons svg {
  @apply fill-current;
  height: 1.75rem;
  width: 1.75rem;
}

@keyframes unblur {
  from {
    filter: blur(24px);
  }
  to {
    filter: blur(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .unblur {
    animation: unblur 0.3s ease;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    animation: fade-in 0.5s ease;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in-slow {
    animation: fade-in 0.75s ease-in-out;
  }
}

.tech-transition {
  transition:
    opacity 150ms linear,
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 320px) {
  figure.saturn {
    padding-bottom: 1.5rem;
  }

  figure.saturn figcaption {
    position: initial !important;
  }
}

.underline-fade-in::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 9999px;
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}

.underline-fade-in:hover::after,
.underline-fade-in:focus-visible::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
