@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-neutral-500 dark:focus-visible:ring-neutral-400;
  }
}

.inline-link {
  @apply relative font-medium;
}

.inline-link::after {
  @apply absolute w-full bottom-0 left-0 font-semibold;
  background: linear-gradient(to top right, theme('textColor.orange.600'), theme('textColor.orange.300'));
  content: '';
  transform: scaleX(1);
  height: 2px;
  transform-origin: bottom left;
  transition: transform .3s ease-in-out;
}

.inline-link:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}